[BASE]
## Time in seconds to wait between screen caps
## Can't be less than 5 or greater than 900
wait = 5

## How many seconds to run
## Can't be less than the wait time or longer than 5400 seconds
## 5400 seconds is 90 minutes
run_time = 5400

## Haar Cascade Face file
#face_file = C:\git\IST718\Project\data\haarcascade_frontalface_alt.xml
face_file = data\haarcascade_frontalface_alt.xml

## Haar Cascade Eye file
#eye_file = C:\git\IST718\Project\data\haarcascade_eye.xml
eye_file = data\haarcascade_eye.xml

## Date of the recording to append to image names
classdate = 8_29_2018

## Which monitor number to use.
## For most people this will be 1.
## Use 0 to capture all screens
monnum = 2

## Method to use
### cnn is: convolutional neural network - Accurate, but slow if not using CUDA
### hog is: histogram of oriented gradients - Fast, but less accurate
model = CNN
#model = hog

## Recognition Encoding File
## This is the data that's obtained from the utils.Encoding function
#face_rec = C:\git\IST718\Project\FaceEncoding\IST718_26training.pickle
face_rec = Encodings\IST718_26training.pickle

## This is the emotion recognition data file. It's a combination of the CK+ and Yale Facial Database
#emotion_rec = C:\git\IST718\Project\emotion_rec\simple_emotion.pickle
emotion_rec = Encodings\simple_emotion.pickle

## Save the face images? Boolean value: True/False
## If so, which directory?
save_img = True
save_dir = Output\Images\Images_%(classdate)s

## Export the data frame? Boolean value: True/False
## If so, where?
df_export = True
df_path = Output\CSV\%(classdate)s.csv